#titleindex h3 i {
    border-right: 29px solid transparent;
    border-top: 28px solid #3aa22e;
    display: block;
    float: left;
    height: 0;
    width: 0;
}
#titleindex h3 {
    background: #222222 none repeat scroll 0 0;
    color: #fff;
    font-size: 11px;
    line-height: 14px;
    overflow: hidden;
    text-transform: uppercase;
}
#titleindex h3 span {
    background: #3aa22e none repeat scroll 0 0;
    display: block;
    float: left;
    font-weight: bold;
    padding: 7px 10px;
}
#random-desz img {
    border: 1px solid #ddd;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 150px;
}
ul#random-desz {
    border-top: medium none;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.sirap{
    background: #323232 none repeat scroll 0 0;
    border-left: 4px solid #2b8221;
    color: #eee;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 4px 7px;
    text-transform: none;
}
#random-desz a {
    color: #64707a;
    display: block;
    transition: all 0.3s ease 0s;
}
.random-summary{font-size:13px;color:999}
#random-desz li div a:hover{text-decoration:none}

#random-desz li {
    display: inline-block;
    margin: 1px;
    padding: 0;
    position: relative;
    transition: all 0.3s ease 0s;
}
#random-desz li div a {
    background: rgba(17, 17, 17, 0.63) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    padding: 7px 5px;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}
#random-desz li span {
position:absolute;
top:0;
right:0;left:0;
text-align:center;
background:linear-gradient(to top,rgba(0,0,0,0.05) 6%,rgba(0,0,0,0.85) 70%);
color:#FFF;
}